<div class="modalPopUp" [hidden]="!showModalPopUp">
  <button type="button" class="close" (click)='hideModal()' aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <!--<a><span class="modal-close" (click)="hideModal()">x</span></a>-->
    <ng-content></ng-content>
    <ng-container *ngIf="template"
      [ngTemplateOutlet]="template"
      [ngTemplateOutletContext]="{ obj: dataContext }"
    >
    </ng-container>
  </div>
  <div class="modal-backdrop" [hidden]="!showModalPopUp" (click)="hideModal()"></div>
