<div class="dropdown user" #user style="margin-top: -7px;" id=userComponent (click)="toggleUserNav()">
    <div *ngIf="userObj!=null; then userPresent else nouser"></div>
    <ng-template #nouser>
      <i class="fa fa-user fa-2x"></i>
    </ng-template>
    <ng-template #userPresent>
      <div class="dropdown-toggle user" data-toggle="dropdown"  >
          <img [src]="userObj.avatar" class="rounded-circle user" style="width: 32px;">
      <span class="caret user"></span></div>
      <ul class="dropdown-menu" #userMnu [class.show]="showUserNav" style="margin-left: -45px;">
        <li class="dropdown-item">{{userObj.lastname}}, {{userObj.firstname}}</li>
        <li class="dropdown-item">{{userObj.role}}</li>
        <li class="dropdown-item" (click)="showProfile()" role="button">
          <div class="btn btn-sm btn-info">Profile</div>
        </li>
        <li class="dropdown-item" role="button" [routerLink]="'login'">Logout</li>
      </ul>
    </ng-template>
  </div>
  <modal></modal>

  <ng-template let-obj="obj" #profile>
    <div class="container">
      <div class="card bg-light" style="color: black;">
        <div class="card-body">
          user profile for {{obj.firstname}}
        </div>
      </div>
    </div>
      
  </ng-template> 