<navbar></navbar>
<br>
<div>
  <tabs>
  <tab tabTitle="home" icon="fa fa-home" [active]='true'>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <home-link titleHead="maps" icon='../assets/map-icon.png' type="maplist" (onItemClick)="onOpenMap($event)" (onItemRightClick)="showMenu($event)"></home-link>
        </div>
        <div class="col-md-4">
          <home-link titleHead="trains" icon='../assets/train-icon.png' type="trainlist" (onItemClick)="onOpenTrain($event)" (onItemRightClick)="showMenu($event)"></home-link>
        </div>
        <div class="col-md-4">
          <home-link titleHead="routes" icon='../assets/map-icon.png' type="routelist" (onItemClick)="onOpenRoute($event)" (onItemRightClick)="showMenu($event)"></home-link>
        </div>
      </div>
    </div>
  </tab>
  </tabs>
</div>

<context-menu [eventObj]="eventObj"[x]="xPosTabMenu" [y]="yPosTabMenu" [hidden]="!showContextMenu" (openClick)="onOpenclick($event)"></context-menu>

<ng-template let-obj="obj" #map>
  <map [obj]="obj"></map>
</ng-template>

<ng-template let-obj="obj" #train>
  <div></div>
</ng-template>

<ng-template let-obj="obj"#route>
  <div></div>
</ng-template>
