<div>
  <div class="mapToolbar">
    <div class="zoomToolBox">
          <div class="zoomText">{{zoom}}</div>
          <span><button  class="zoomBtn" (click)="onMinusClick()"><i class="fa fa-minus fa-xs marginL"></i></button></span>
          <span style="margin:6px">
            <input type="range" id="zoom" name="zoom" min="0" max="100" value="{{zoom}}" style="margin-top: 6px;" (change)="onZoomChanged($event)">
          </span>
          <span><button class="zoomBtn" (click)="onPlusClick()"><i class="fa fa-plus marginL"></i></button></span>
      </div>
    <div [style.background-color]="connected?'green':'red'" class="conn"></div>
  </div>

<!-- <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [usePanning]='true' >
  <agm-marker  
  *ngFor="let m of markers; let i = index"
  [latitude]="m.lat"
  [longitude]="m.lng"
  ></agm-marker>
</agm-map> -->
<canvas width="100%" height="100%"></canvas>
{{markers.length}}
</div>