agm-map {
    height: 500px;
    width: 500px;
  }
.zoomText{
  /* position: absolute;
          z-index: 3; */
          background-color: slategray;
          color: white;
          /* top: 0; */
          /* left: 7%; */
          /* font-size: x-small; */
          margin-left: 9px;
          margin-right: 9px;
          vertical-align: super;
}
.mapToolbar{
  position:relative;
  top:0;
  width:100%;
  height:47px;
  border:5px outset #ccc;
  background-color:#fff
}
.mapToolbar .zoomToolBox{
  display: inline-block;
  width: 289px;
  height:90%;
  padding: 2px;
  margin-top: 2px;
  border:1px solid #DDE;
}
.mapToolbar .zoomToolBox .zoomBtn{
  width: 16px;
  vertical-align: top;
}
.mapToolbar .conn{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border:1px solid #DDD;
  /* display: inline-block; */
  margin-top: 3px;
  margin-right: 2px;
  float: right;
}
.marginL{
  margin-left: -5px;
}
.canvasContainer{
  padding:1px;
  /* border:dashed 2px #000; */
  height: 470px;
}