   <!-- <ul class="nav nav-tabs">
    <li *ngFor="let tab of tabs" (click)="selectTab(tab)"  class="nav-item" [class.active]="tab.active">
        <a  class="nav-link">{{tab.tabTitle}}</a>
    </li>
  </ul>
  <ng-content></ng-content> -->
  <!-- <span class="fa-stack">
    <i class="fa fa-map-o fa-stack-2x"></i>
    <i class="fa fa-map-marker fa-stack-2x" style="color:red"></i>
    <i class="fa fa-location-arrow fa-stack-1x"></i>
  </span> -->
  <ul class="nav nav-tabs">
    <li *ngFor="let tab of tabs" (click)="selectTab(tab)" class="nav-item"  >
      <a role="button" class="nav-link" [class.active]="tab.active"><i class="{{tab.icon}}"></i>{{tab.title}}</a>
    </li>
    <!-- dynamic tabs -->
    <li *ngFor="let tab of dynamicTabs" (click)="selectTab(tab)" class="nav-item"  >
      <a role="button" class="nav-link" [class.active]="tab.active"><i class="{{tab.icon}}"></i> {{tab.title}} 
        <span class="tab-close" role="button" *ngIf="tab.isCloseable" (click)="closeTab(tab)">x</span>
        <!-- <span><button type="button" class="close" (click)='closeTab(tab)' aria-label="Close" [hidden]="tab.isClosable">
          <span aria-hidden="true">&times;</span>
        </button></span> -->
      </a>
    </li>
  </ul>
  <ng-content></ng-content>
  <ng-template dynamic-tabs #container></ng-template>