.tab-close {
  color: white;
  text-align: right;
  cursor: pointer;
  background-color: olive;
  border-radius: 50%;
  padding: 2px;
  margin-bottom: 2px;
  vertical-align: text-top;
  margin-left: 5px;
  }
  .active{
    cursor: default;
  }