<div style="margin-top:5px">
    <div><img src="{{icon}}"  /><span>{{titleHead}}</span></div>
    <div><input placeholder="search" (keyup)="changed(searchText)" #searchText id="{{ type }}"/></div>
    <div class="inner">
        <ul class="list-group">
            <!-- <div *ngIf="notFoundMsg === '' && items.length===0; then loading"></div> -->
            <div [hidden]="items.length > 0 || notFoundMsg!=''" #loading>
                loading....
            </div>
            <div *ngIf="items.length >0; then itemList else noItems"></div>
            <ng-template #noItems>
                <div class="alert">{{notFoundMsg}}</div>
            </ng-template>
            <ng-template #itemList>
            <li *ngFor="let item of items"  (click)="itemClicked(item)" (contextmenu)="itemRightClicked($event,item)" class="list-group-item">
                <span >{{item.name}}</span>
            </li>
            </ng-template>
        </ul>
    </div>
</div>
